.enroll-main {
    display: block;
}
.enroll-main h1 {
    font-size: 6vw;
    text-align: center;
    padding-top: 60px;
    width: 100%;
}
section {
display: flex;
flex-wrap: wrap;
padding-top: 30px;
padding-left: 50px;
}

a {
    color: var(--light-purple);
    text-decoration: none;
}
#email-address:hover, #address:hover {
    color: var(--nav)
}
section h2 {
    width: 100%;
    font-size: 5vw;
}
section ul, section ol {
    font-size: 4vw;
    line-height: 6vw;
}

label {
    font-size: 17px;
}

input {
    border: none;
    border-bottom: 2px solid black;
    height: 30px;
    width: 90%;
    margin-bottom: 20px;
}

#submit-button {
    font-size: 20px;
    padding: 5px;
    background-color: var(--light-purple);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#submit-button:hover {
    color: var(--nav)
}



footer {
    font-size: 15px;
}

.map-con {
    background-color: var(--background);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.map {
    height: 20vw;
    width: 20vw;
    min-width: 300px;
    min-height: 300px;
}

@media screen and (min-width: 768px) {
    .enroll-main {
        display: block;
        padding-left: 100px;
    }
    .enroll-main h1 {
        font-size: 3vw;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 60px;
    }
    section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    }
    section h2 {
        width: 100%;
        font-size: 2vw;
    }
    section ol, section ul {
        font-size: 1.5vw;
        line-height: 3vw;
    }

    form {
        width: 100%;
    }

    .required {
        color: red;
        display: inline;
    }

    input {
        display: block;
        width: 40%;
    }

    .map-con {
        background-color: var(--background);
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .map {
        height: 30vw;
        width: 30vw;
        min-width: 400px;
        min-height: 400px;
        margin-left: 150px;
    }

    footer {
        padding-top: 100px
    }


}