:root {
	--light: rgb(211, 164, 255);
	--dark: rgb(79, 0, 153);
    --off: #d0d6dd;
  }

.mt-1 {
    margin-top: 80px;
}


/* phone screen :
                V
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 300px;
}
.logo-container {
    height: 50%;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo-container img {

    width: 300px;
    height: auto;
    margin-bottom: 30px;
}
.nav-container {
    width: 100%;
    height: 300px;
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
nav {
    width: 80%;
    background-color: var(--dark);
    height: 60px;
    box-shadow: 3px 5px 20px rgb(0, 0, 0);
    /* border-radius: 5px; */
}
nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
nav ul li {
    text-align: center;
    color: var(--off);
    font-size: 4vw;
    margin-left: 5px;
    margin-right: 5px;
}




main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
/* section 0 */
.section-0 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 60px;
}
.section-background {
    margin-top: 35px;
    width: 100%;
    height: 82vw;
    max-height: 650px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    position: relative;
    box-shadow: 3px 5px 20px rgb(0, 0, 0);
    
}
.section-info-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--dark);
    border-radius: 5px;
    bottom: -24vw;
    /* Remove absolute to shorten */
    position: absolute;
}

.section-info-container p{
    text-align: center;
    width: 100%;
    color: var(--off);
    font-size: 4.4vw;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
}

.inner-img-container {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.img-container img {
    width: 80%;
}
.inner-img-container img {
    width: 40%;
}
/* section 0 end */

/* section 1 */
.section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.section-1 img {
    width: 100%;
    height: auto;
}
.section-1-text {
    margin-top: 10px;
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    height: 50px;
    padding-bottom: 20px;
    color: var(--off);
    font-size: 14px;
    margin-top: 150px;
}



/* ^
   : phone screen */

/* computer screen :
                   V
*/

@media screen and (min-width: 650px){
    .mt-1 {
        margin-top: 200px;
    }
    .logo-container img {
        width: 30vw;
        max-width: 400px;
        min-width: 300px;
        margin-bottom: 0;
    }
    .logo-container {
        padding-left: 50px;
        justify-content: flex-start;
    }
    nav {
        width: 60%;
    }
    nav ul li {
        font-size: 20px;
    }
    
    .section-0 {
        align-items: flex-start;
        width: 100%;
        margin-top: 120px;
    }
    .section-background {
        width: 80%;
        height: 40vw;
        min-height: 300px;
        justify-content: center;
    }
    .section-info-container {
        margin-bottom: 2vw;
        align-items: center;
        width: 80%;
        height: 20%;
        position: initial;
        
    }
    
    .section-info-container p{
        width: 80%;
        max-width: 500px;
        font-size: 16.5px;
    }
    
    .img-container {
        width: 85%;
        justify-content: space-around;
        padding-left: 60px;
        padding-right: 60px;
    }
    
    .inner-img-container {
        width: 23%;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: flex-end;
        margin: 0;
    }
    
    .img-container img {
        width: 50%
    }
    .inner-img-container img {
        width: 100%;
    }

    /* section 0 end */

    /* section 1  */

    .section-1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }
    .section-1 img {
        width: 50%;
    }
    .section-1-text {
        margin: 0 0 0 10px;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }

/* ^
   : computer screen */